<!DOCTYPE html>
<html>
<head>
  <link rel= "stylesheet" href= "CSS/style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Main Notflix Landing Page -->
    <title>Notflix - Watch TV Shows Online, Watch Movies Online</title>
</head>
<body>
    <header class="showcase">
      <div class="showcase-top">
        <img src="img/notflixLogo.png"  alt="" />
        <a href="/movieSelection" class="btn btn-rounded">Sign In</a>
    </div>
    <div class="showcase-content">
        <h1>Unlimited movies, TV shows, and more.</h1>
        <p>Watch anywhere. Cancel Anytime.</p>
        <a href="movieSelection" class="btn btn-xl"
            >Watch Free For 30 Days <i class="fas fa-chevron-right btn-icon"></i
        ></a>
    </div>
      </header>   
</body>
</html>